


/*======================================
           NAVBAR PART STYLE
=======================================*/
.navbar-part {
    box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.1);
}
  
// for navbar fixed
.navbar-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    background: var(--white);
    box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.15);
}

// for navbar bg image
.navbar-bg {
    background: url(../../../assets/img/assets-bg.png);
    @include background__property;
}

// for navbar fixed style
.navbar-fixed {
    .container {
        max-width: 1300px;
    }

    .navbar-logo {
        display: block;

        img {
            width: 180px;
        }
    }

    .navbar-slide {
        justify-content: flex-end;
    }

    .navbar-link {
        padding: 35px 0px;
    }
}
  
.navbar-content {
    @include flex__center;
    justify-content: space-between;
}

.navbar-logo,
.navbar-toggle,
.slide-head {
    display: none;
}
  
.navbar-slide {
    width: 100%;
    @include flex__center;
    justify-content: space-between;
}
  
.navbar-list {
    @include flex__center;
}
  
// for navbar menu style
.navbar-link {
    font-weight: 500;
    padding: 25px 0px;
    margin-right: 30px;
    color: var(--body);
    text-transform: capitalize;
    @include flex__center;

    &:hover {
        color: var(--primary-clr);

        i {
            transform: rotate(-90deg);
        }
    }

    i {
        margin-right: 5px;
        margin-top: -2px;
        @include cursor__transition;
    }

    small {
        margin-left: 5px;
        font-size: 10px;
    }
}
  
// for navbar menu active
.navbar-item.active {
    .navbar-link {
        color: var(--primary-clr);

        i {
            transform: rotate(-90deg);
        }
    }
}

//========================================
//        RESPONSIVE NAVBAR STYLE
//========================================
@media (max-width: 1199px) {

    // for navbar fixed style
    .navbar-fixed {
        .container {
            max-width: 100%;
        }

        .navbar-bg {
            padding: 10px 0px;
        }

        .navbar-link {
            padding: 12px 15px;
        }
    }

    .navbar-bg {
        padding: 15px 0px;
    }

    .navbar-logo {
        display: block;

        img {
            width: 160px;
        }
    }

    // for navbar toggle button
    .navbar-toggle {
        border: none;
        background: none;
        display: block;

        i {
            color: #ffffff;
            font-size: 16px;
            padding: 8px 10px;
            border-radius: 3px;
            background: linear-gradient(#7F00FF, #cc30ff);
            @include cursor__transition;

            &i:hover {
                color: #ffffff;
                background: #cc00ff;
            }
        }
    }
    
    // for navbar slide body
    .navbar-slide {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 3;
        width: 0%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        visibility: hidden;
        opacity: 0;
        background: #f9f9f9;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 8px 0px 12px 0px rgba(0, 0, 0, 0.15);
        @include cursor__transition;
    }

    .navbar-slide.active {
        width: 100%;
        visibility: visible;
        opacity: 1;
    }

    // for navbar slide head
    .slide-head {
        width: 100%;
        padding: 30px 15px;
        @include flex__center;
        justify-content: space-between;

        button {
            border: none;
            outline: none;
            background: none;

            i {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                font-size: 16px;
                color: #7F00FF;
                background: #ffffff;
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                @include cursor__transition;

                &:hover {
                    color: #ffffff;
                    background: linear-gradient(#7F00FF, #cc30ff);
                }
            }
        }

        a {
            img {
                width: 150px;
            }
        }
    }
    
    .navbar-list {
        width: 100%;
        display: block;
        margin-bottom: 30px;

        li {
            border-bottom: 1px solid #e8e8e8;
        }
    }

    .navbar-link {
        width: 100%;
        padding: 12px 15px;
        margin-right: 0px;
        justify-content: space-between;
    }

    // for navbar sponsor button
    .navbar-btn {
        width: 100%;
        padding: 0px 15px;

        .btn {
            display: block;
            padding: 14px 0px;
            margin-bottom: 50px;
        }
    }

}

@media (min-width: 576px) and (max-width: 1199px) {
    .navbar-slide {
        left: -420px;
        width: 400px;
        visibility: visible;
        opacity: 1;
    }

    .navbar-slide.active {
        left: 0px;
        width: 400px;
    }
}