


/*=====================================
        BREADCRUMB COMPONENT STYLE
======================================*/
.breadcrumb {
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-bottom: 0px;
    background: none;
    border-radius: 0px;
}

.breadcrumb-item {
    text-transform: capitalize;

    a {
        color: var(--white);
        text-transform: capitalize;
        text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);

        &:hover {
            text-decoration: underline;
        }
    }
}

.breadcrumb-item.active {
    color: var(--light-white);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--white);
}