


/*=====================================
         FORM COMPONENTS STYLE
======================================*/
.form-group {
    margin: 0px 50px 50px;
    position: relative;

    &:focus-within {
        input,
        textarea {
            border-bottom: 2px dashed var(--primary);
        }
        
        i {
            background: var(--primary-gdnt);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    input,
    textarea {
        width: 100%;
        border: none;
        outline: none;
        background: none;
        border-bottom: 2px dashed #bbb;

        &::placeholder {
            font-size: 14px;
            font-weight: 500;
            font-style: italic;
            text-transform: uppercase;
        }
    }

    input {
        height: 60px;
    }

    textarea {
        height: 180px;
        padding-top: 14px;
    }

    i {
        position: absolute;
        top: 21px;
        right: 0px;
        font-size: 14px;
        color: #777777;
    }
}

.form-btn {
    text-align: center;
}

@media (max-width: 767px) {
    .form-group {
        margin: 0px 0px 30px;
    }
}
