


/*=====================================
            ALL ICON STYLE
======================================*/
.icon {
    i {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
        @include cursor__transition;
    }
}

.icon-inline {
    i {
        color: var(--white);
        background: var(--primary-gdnt);

        &:hover {
            color: var(--white);
            transform: translateY(-3px);
            background: var(--hover-gdnt);
            box-shadow: 0px 5px 15px 0px rgba(72, 69, 90, 0.3);
        }
    }
}