

//========================================
//          1 - HELPERS FOLDER
//========================================
@import "../1-helpers/_mixin.scss";


//========================================
//          2 - COMPONENTS FOLDER
//========================================
@import "../2-components/_nav-tabs.scss";
@import "../2-components/_slider-arrow.scss";


//========================================
//          3 - ELEMENTS FOLDER
//========================================
@import "../3-elements/_show-card.scss";
@import "../3-elements/_team-card.scss";
@import "../3-elements/_video-card.scss";
@import "../3-elements/_blog-card.scss";


/*=====================================
            BANNER PART STYLE
======================================*/
.banner-part {
    padding: 120px 0px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    animation: miron 10s linear infinite;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: var(--banner-oly);
        z-index: -1;
    }
}

@keyframes miron {
    0% {
        background: url(../../../assets/img/banner-1.jpg);
        @include background__property;
    }
    30% {
        background: url(../../../assets/img/banner-2.jpg);
        @include background__property;
    }
    60% {
        background: url(../../../assets/img/banner-3.jpg);
        @include background__property;
    }
    100% {
        background: url(../../../assets/img/banner-1.jpg);
        @include background__property;
    }
}

.banner-content {
    text-align: center;

    p {
        color: var(--white);
        font-size: 18px;
    }
}

// for banner player
.banner-play {
    border: none;
    outline: none;
    background: none;
    margin-bottom: 40px;

    i {
        width: 150px;
        height: 150px;
        font-size: 35px;
        line-height: 150px;
        border-radius: 50%;
        color: var(--white);
        text-shadow: var(--play-tshadow);
        box-shadow: var(--play-bshadow);
        background: var(--banner-play);
        animation: mahmud 2s linear infinite;
    }
}

@keyframes mahmud {
    0%{
        box-shadow: 0px 0px 0px 0px rgba(225, 0, 255, 0.7), 0px 0px 0px 0px rgba(127, 0, 255, 0.7);
    }
    30%{
        box-shadow: 0px 0px 0px 20px rgba(255, 127, 0, 0.0), 0px 0px 0px 0px rgba(127, 0, 255, 0.7);
    }
    60%{
        box-shadow: 0px 0px 0px 20px rgba(255, 127, 0, 0.0), 0px 0px 0px 15px rgba(255, 127, 0, 0.0);
    }
    100%{
        box-shadow: 0px 0px 0px 0px rgba(255, 127, 0, 0.0), 0px 0px 0px 15px rgba(255, 127, 0, 0.0);
    }
}

// for banner responsive
@media (max-width: 575px) {
    .banner-part {
        padding: 50px 0px;
    }
    
    .banner-play i {
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 30px;
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
    }

    .banner-content h1 {
        width: 300px;
        font-size: 45px;
        line-height: 50px;
        margin: 0 auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .banner-part {
        padding: 80px 0px;
    }

    .banner-content h1 {
        font-size: 45px;
        line-height: 53px;
    }
}

/*=====================================
            ABOUT PART STYLE
======================================*/
.about-img {
    position: relative;
    
    img {
        width: 75%;
        border-radius: 50%;
        box-shadow: var(--about-bshadow);
    }
}

.about-video {
    background: url(../../../assets/img/about-2.jpg);
    @include background__property;
    position: absolute;
    bottom: 0px;
    right: 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid var(--white);
    box-shadow: var(--about-bshadow);
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.47);
        z-index: -1;
    }

    a {
        i {
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            border-radius: 50%;
            background: var(--primary-gdnt);
            color: var(--white);
            font-size: 14px;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.about-content {
    margin-left: 50px;

    h2 {
        margin-bottom: 30px;

        span {
            font-size: 60px;
            line-height: 68px;
            text-transform: uppercase;
            background: var(--primary-gdnt);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p {
        margin-bottom: 25px;
    }

    h3 {
        position: relative;
        margin-left: 50px;

        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: -50px;
            transform: translateY(-50%);
            width: 30px;
            height: 3px;
            border-radius: 30px;
            background: var(--primary-gdnt);
        }
    }
}

// for about responsive
@media (max-width: 575px) {
    .about-img {
        width: 290px;
        margin: 0 auto 30px;
    }

    .about-img img {
        width: 80%;
    }

    .about-video {
        width: 150px;
        height: 150px;
        right: 0px;
        border: 6px solid var(--white);
    }

    .about-content {
        margin-left: 0px;
    }

    .about-content h2 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .about-content h2 span {
        font-size: 40px;
        line-height: 48px;
    }

    .about-content h3 {
        display: inline-block;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .about-img {
        width: 500px;
        margin: 0 auto 30px;
    }

    .about-video {
        right: 0px;
    }

    .about-content {
        margin-left: 0px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .about-video {
        right: 0px;
    }
} 

/*=====================================
            SHOW PART STYLE
======================================*/
.show-btn {
    text-align: center;
    margin-top: 20px;
}

// for show responsive
@media (max-width: 991px) {
    #show-menu {
      overflow-x: scroll;
    }
  
    .nav {
      width: 800px;
    }
  
    .nav-tabs li .nav-link {
      padding: 8px 0px;
    }
    
    #show-menu::-webkit-scrollbar {
      width: 12px;
      background-color: var(--white);
    }
    
    #show-menu::-webkit-scrollbar-thumb {
      border-radius: 30px;
      background: #aaaaaa;
      border: 5px solid var(--light-white);
    }
  }
  
  @media (min-width: 351px) and (max-width: 575px) {
    .show-part .container {
      max-width: 350px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    .show-host li a img {
      width: 55px;
    }
  }

/*=====================================
            TEAM PART STYLE
======================================*/
.team-btn {
    text-align: center;
    margin-top: 50px;
}

// for team responsive
@media (max-width: 767px) {
    .team-card {
      width: 240px;
      margin: 0px 10px;
    }
  }

/*=====================================
            VIDEO PART STYLE
======================================*/
.video-slider {
    .dandik {
        top: 33%;
    }
    
    .bamdik{
        top: 33%;
    }
}

.video-btn {
    text-align: center;
    margin-top: 50px;
}

// for video responsive
@media (max-width: 575px) {
    .video-card {
      width: 250px;
      margin: 0px 10px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    .video-card {
      width: 300px;
      margin: 0px 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .video-card {
      width: 380px;
      margin: 0px 10px;
    }
  }

/*=====================================
            GALLERY PART STYLE
======================================*/
.gallery-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.gallery-list {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 200px;
    grid-auto-flow: dense;

    li {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: linear-gradient(rgba(91, 68, 114, 0.2), rgba(203, 48, 255, 0.3));
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}

.verti-img {
    grid-row: span 2;
}

.hori-img {
    grid-column: span 2;
}

.big-img {
    grid-row: span 2;
    grid-column: span 2;
}

.gallery-btn {
    text-align: center;
    margin-top: 50px;
}

// for gallery responsive
@media (max-width: 575px) {
    .gallery-list {
      grid-gap: 15px;
    }
  }

/*=====================================
            BLOG PART STYLE
======================================*/
.blog-slider {
    .dandik {
        top: 50%;
    }
    
    .bamdik{
        top: 50%;
    }
}

.blog-btn {
    text-align: center;
    margin-top: 50px;
}

// for blog responsive
@media (max-width: 575px) {
    .blog-card {
      width: 250px;
      margin: 0px 10px;
    }
  
    .blog-overlay h4 {
      left: 25px;
      right: 25px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    .blog-card {
      width: 325px;
    }
  }