


/*=====================================
            BLOG CARD STYLE
======================================*/
.blog-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
        img {
            transform: scale(1.08);
        }

        .blog-overlay {
            background: var(--blog-hover-oly);

            .btn-outline {
                background: var(--white);
                border-color: var(--white);
                color: var(--primary);
            }
        }
    }

    img {
        width: 100%;
        border-radius: 10px;
        @include cursor__transition;
    }
}

.blog-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 30px;
    background: var(--blog-oly);

    p {
        color: var(--white);
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 200px;
    }

    h3 {
        position: absolute;
        bottom: 100px;
        left: 25px;
        right: 25px;

        a {
            color: var(--white);
        }
    }

    .btn {
        font-size: 16px;
        font-weight: 500;
        padding: 8px 25px;
        text-transform: capitalize;
        position: absolute;
        bottom: 30px;
        left: 25px;
    }

    .btn-outline {
        color: var(--white);
        border-color: var(--primary);
    }

}
