


/*=====================================
            SHOW CARD STYLE
======================================*/
.show-card {
    margin-bottom: 30px;
    
    &:hover {
        .show-overlay {
            background: var(--show-hover-oly);
        }

        .show-bg {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.show-content {
    position: relative;
    margin-bottom: 38px;
}

.show-bg {
    overflow: hidden;
    border-radius: 10px;

    img {
        width: 100%;
        border-radius: 10px;
        @include cursor__transition;
    }
}

.show-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--show-oly);
}

.show-active {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--white);

    img {
        width: 100%;
    }
}

.show-time {
    text-align: center;
    padding-top: 35px;

    p {
        color: var(--white);
        font-size: 20px;
        margin-bottom: 7px;
        text-shadow: var(--show-tshadow);
    }
    
    h4 {
        color: var(--white);
        text-shadow: var(--show-tshadow);
    }
}

.show-host {
    position: absolute;
    bottom: -30px;
    width: 100%;
    @include flex__center;

    li {
        &:nth-child(2),
        &:nth-child(3) {
            margin-left: -25px;
        }

        a {
            img {
                width: 60px;
                border-radius: 50%;
                border: 5px solid var(--white);
            }
        }
    }
}

.show-meta {
    width: 100%;
    @include flex__center;
}